/node_modules/
/.rpt2_cache/
/dev
dist/
build/
.vscode
.env
.DS_Store
package-lock.json
.hass-config/
test/
scripts/*
!scripts/check-localization.js
!scripts/generate-lang-imports.js
!scripts/generate-new-lang-file.js
!scripts/update-languages.js
scripts/add-missing-translations.js
