/node_modules/
/.rpt2_cache/
package-lock.json
/dev
dist/
.vscode
src/utils/testdata.ts
all-keys.asc
all-secret-keys.asc
lunar-phase-card.code-workspace
test/
.env
.DS_Store
swiper-bundle.css
scripts/missing_translations.json

dist/lovelace-horizon-card.js
dist/lunar-phase-card.js
dist/lunar-phase-card.js.map
dist/lunar-phase-card.js
dist/lunar-phase-card.js.map
scripts/convert-img-base.js
build/
.hass-config/
