.card-config {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  border: 1px solid var(--divider-color, rgba(0, 0, 0, 0.87));
  justify-content: space-evenly;
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
}

.header-container {
  flex: 1 1 0%;
  display: flex;
  border-bottom: inherit;
  min-height: 48px;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  outline: 0px;
}

.header-title {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.header-title>span.secondary {
  display: block;
  color: var(--secondary-text-color);
  font-size: 12px;
}

.switches {
  display: flex;
  flex-wrap: wrap;
}

.switches>.checkbox {
  width: calc(100% / 2);
}

.comboboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
}

ha-textfield {
  display: block;
  width: 100%;
}


ha-select {
  width: 100%;
}

.font-config-wrapper {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.font-config-content {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: center;
}

.font-config-type {
  /* color: var(--secondary-text-color); */
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.font-config-type .title {
  font-weight: 500;
  text-transform: uppercase;
}

.font-config-type .desc {
  font-weight: 400;
}

.right-icon {
  padding-inline: 0.5rem;
  cursor: pointer;
}

img.bg-thumbnail {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 3;
}

.custom-background-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-wrap: nowrap;
}

.file-input {
  display: none;
}

.file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  color: var(--primary-text-color);
}

.file-upload:hover {
  background-color: var(--primary-color);
}

.radios-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.version {
  color: var(--secondary-text-color);
  justify-content: space-around;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: auto;
}

.version .update {
  color: var(--accent-color);
  opacity: 0.7;
}

#toast {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  animation: fadeIn 0.3s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

ha-alert {
  width: 100%;
}

ha-alert>.alert-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
}

.vic-tabbar>mwc-tab[active] {
  background-color: var(--secondary-background-color) !important;
}