.card-config {
  width: 100%;
  margin-block: 0.5rem;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.switches {
  display: flex;
}

ha-textfield {
  display: block;
  width: 100%;
}


ha-select {
  width: 100%;
}


.font-config-content {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  margin-bottom: 8px;
  align-items: center;
}

.font-config-type {
  color: var(--secondary-text-color);
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.font-config-type .title {
  font-weight: 500;
  text-transform: uppercase;
}

.font-config-type .desc {
  font-weight: 400;
}

.right-icon {
  padding-inline: 0.5rem;
  cursor: pointer;
}

.custom-background-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-wrap: nowrap;
}

.file-input {
  display: none;
}

.file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  color: var(--primary-text-color);
}

.file-upload:hover {
  background-color: var(--primary-color);
}

.radios-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.version {
  color: var(--secondary-text-color);
  justify-content: space-around;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: auto;
}

.version .update {
  color: var(--accent-color);
  opacity: 0.7;
}

#toast {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  animation: fadeIn 0.3s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

ha-alert {
  width: 100%;
}

ha-alert>.alert-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
}