:host {
  --swiper-pagination-bullet-inactive-color: var(--secondary-text-color);
  --swiper-pagination-bottom: 0;
  --lunar-card-padding: 12px;
  /* --lunar-card-header-font-color: var(--primary-text-color);
  --lunar-card-label-font-color: var(--primary-text-color); */
  --lunar-card-header-text-transform: capitalize;
  --lunar-card-header-font-size: x-large;
  --lunar-card-label-font-size: 14px;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ha-card {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--card-background-color);
  letter-spacing: 0.5px;
  padding: 0;
  --primary-text-color: var(--lunar-card-label-font-color, var(--primary-text-color));
  --swiper-theme-color: var(--lunar-card-label-font-color, var(--primary-text-color));
}

ha-card.--background {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: var(--lunar-background-image);
  transition: all 0.5s ease;
  --primary-text-color: var(--lunar-card-label-font-color, #e1e1e1);
  --swiper-theme-color: var(--lunar-card-label-font-color, #e1e1e1);
}

ha-card.--flex-col .lunar-card-content {
  flex-direction: column;
  gap: 1rem;
}

ha-card.--reverse .lunar-card-content {
  flex-direction: row-reverse;
}


ha-card.--default-header .lunar-card-content {
  padding: 8px 12px 12px
}

.lunar-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lunar-card-header>.action-btns {
  display: inline-flex;
}

.lunar-card-header.flexend {
  justify-content: flex-end;
}



ha-card.--background h1 {
  color: var(--lunar-card-header-font-color, #e1e1e1);
}

.--default-header h1 {
  padding-inline: 1.2rem;
}

h1 {
  color: var(--lunar-card-header-font-color, var(--primary-text-color));
  font-family: var(--ha-card-header-font-family, inherit);
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  text-transform: var(--lunar-card-header-text-transform, capitalize);
  font-size: var(--lunar-card-header-font-size, x-large);
}

.btn-action {
  display: block;
  color: var(--lunar-card-label-font-color);
  cursor: pointer;
  opacity: 0.4;
}

.btn-action[active],
.btn-action:hover {
  color: var(--lunar-card-label-font-color);
  opacity: 0.8;
}

.click-shrink {
  cursor: pointer;
  transition: transform 0.1s;
}

.click-shrink:active {
  transform: scale(0.9);
}

.lunar-card-content {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--lunar-card-label-font-size, 14px);
  text-transform: var(--lunar-card-label-text-transform, none);
}


.moon-image {
  display: block;
  width: 100%;
  max-width: 27%;
  transition: transform 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-height: 185px;
  aspect-ratio: 1;
  margin: 8px;
}

.moon-image[calendar] {
  max-width: 35%;
}

.moon-image>img {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  /* Initial state */
  filter: grayscale(1) brightness(1.2) drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.45))
}

.moon-image img.rotatable {
  transform-origin: center center;
  will-change: transform;
  transition: transform 0.5s ease;
  /* Smooth rotation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-animation {
  animation: fadeIn 1s ease-out forwards;
}

.moon-data {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-inline: 0.5rem;
}

.moon-data-item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--divider-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
  flex: 1 1 0%;
}

.moon-data-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.moon-data-item>span.label {
  display: flex;
  color: var(--lunar-card-label-font-color);
  width: fit-content;
  text-wrap: nowrap;
  flex: 0;
}

.moon-data-item>.value {
  display: inline-flex;
  color: var(--lunar-card-label-font-color);
  font-weight: 600;
  width: auto;
  text-wrap: nowrap !important;
  align-items: center;
}

.value>span {
  font-weight: 400;
  font-size: smaller;
  padding-inline: 2px;
  text-wrap: nowrap;
}

/* SWIPER */
lunar-base-data {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: block;
  backdrop-filter: blur(4px);
}

/* .swiper-wrapper {
  margin-bottom: 1rem;
} */

.swiper-slide {
  display: block;
  width: fit-content;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet {
  background-color: var(--swiper-theme-color);
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  border-radius: 0.5rem !important;
  opacity: 0.7;
}

/* CALENDAR */
.calendar-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  --calendar-background-color: #ffffff1f;
}

.date-input-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: normal;
  gap: 1rem;
  text-wrap: nowrap;
}

.date-input-label {
  display: block;
  color: var(--lunar-card-label-font-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.date-input {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid var(--divider-color);
  border-radius: var(--ha-card-border-radius, 12px);
  color: var(--lunar-card-label-font-color);
  background-color: var(--calendar-background-color);
  transition: all 0.3s ease;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.date-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

button.date-input-btn {
  cursor: pointer;
  background-color: var(--calendar-background-color);
  border: 1px solid var(--divider-color);
  border-radius: var(--ha-card-border-radius, 12px);
  /* padding: 0.5rem 1rem; */
  color: var(--primary-text-color);
  transition: all 0.3s ease;
  font-weight: 600;
}

button.date-input-btn:hover {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
}

/* COMPACT VIEW */

.btn-action.compact {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.compact-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline-start: 8px;
}



.moon-fraction {
  font-weight: inherit;
  color: var(--lunar-card-label-font-color);
  letter-spacing: 1.5px;
  line-height: 24px;
}

.compact-view-items {
  margin-block: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  --mdc-icon-size: 17px;
}

.compact-item {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compact-item .icon-value {
  text-wrap: nowrap;
}

.compact-item .value {
  color: var(--lunar-card-label-font-color);
  opacity: 0.8;
}