:host {
  --swiper-pagination-bullet-inactive-color: var(--secondary-text-color);
  --swiper-pagination-bottom: 0;
  --lunar-card-padding: 12px;
  /* --lunar-card-header-font-color: var(--primary-text-color);
  --lunar-card-label-font-color: var(--primary-text-color); */
  --lunar-card-header-text-transform: capitalize;
  --lunar-card-header-font-size: x-large;
  --lunar-card-label-font-size: 14px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

ha-card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  background-color: var(--card-background-color);
  letter-spacing: 0.5px;
  padding: 0;
  border: none;
  --primary-text-color: var(--lunar-card-label-font-color, var(--primary-text-color));
  --swiper-theme-color: var(--lunar-card-label-font-color, var(--primary-text-color));
  --mdc-ripple-press-opacity: 0;
}

ha-card.--background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--lunar-background-image);
  transition: all 0.5s ease;
  /* place-content: space-between; */
  --primary-text-color: var(--lunar-card-label-font-color, #e1e1e1);
  --swiper-theme-color: var(--lunar-card-label-font-color, #e1e1e1);
}

/* ha-card.--flex-col .lunar-card-content {
  flex-direction: column;
  gap: 1rem;
} */

ha-card.--reverse .lunar-card-content {
  flex-direction: row-reverse;
}

ha-card:not(.--reverse) #main-content[padding] {
  padding-right: 1.2rem;
}

ha-card.--reverse #main-content[padding] {
  padding-left: 1.2rem;
}

ha-card.--dynamic-graph .lunar-card-content,
ha-card.--horizon .lunar-card-content {
  display: block;
  transition: none;
  /* padding: 8px 0 12px; */
}

ha-card>.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

ha-card>.loading[hidden] {
  display: none;
}

.lunar-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.lunar-card-header>.header-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* flex: 1; */
  max-width: 70%;
}

.lunar-card-header>.header-title[full] {
  /* max-width: calc(100% - 8px); */
  padding-top: 12px;
}

.marquee {
  display: inline-block;
  animation: marquee 6s linear 1s infinite;
  /* overflow: visible !important; */
  animation-iteration-count: 3;
  /* left: 100%; */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.lunar-card-header>.action-btns {
  display: inline-flex;
}

.lunar-card-header>.action-btns[hidden] {
  display: none;
}

.lunar-card-header.flexend {
  justify-content: flex-end;
}



ha-card.--background .title,
ha-card.--background .moon-phase-name {
  color: var(--lunar-card-header-font-color, #e1e1e1);
  /* text-shadow: 2px 2px 4px var(--card-background-color); */
}

.--default-header .title {
  padding-left: var(--lunar-card-padding);
}

.title {
  color: var(--lunar-card-header-font-color, var(--primary-text-color));
  font-family: var(--ha-card-header-font-family, inherit);
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  text-transform: var(--lunar-card-header-text-transform, capitalize);
  font-size: var(--lunar-card-header-font-size, x-large);
  line-height: 120%;
}


.btn-action {
  display: block;
  color: var(--lunar-card-label-font-color);
  cursor: pointer;
  opacity: 0.4;
}

.btn-action[active],
.btn-action:hover {
  color: var(--lunar-card-label-font-color);
  opacity: 0.8;
}

.click-shrink {
  cursor: pointer;
  transition: transform 0.1s;
}

.click-shrink:active {
  transform: scale(0.9);
}

.lunar-card-content {
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--lunar-card-label-font-size, 14px);
  text-transform: var(--lunar-card-label-text-transform, none);
  transition: all 300ms ease-in-out;
  position: relative;
}

.base-card {
  display: flex;
  width: 100%;
  align-items: center;
}

.moon-image {
  display: flex;
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  min-height: 100px;
  transition: transform 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  aspect-ratio: 1;
  padding: 8px;
  flex-shrink: 0;
  /* z-index: 4; */
  height: 100%;
  /* align-self: center; */
}

.moon-image[compact] {
  max-width: 24%;
}

/*
.moon-image[no-header][calendar] {
  max-width: 35%;
} */

.moon-image img[southern] {
  transform: scaleX(-1) scaleY(-1);
  transition: none;
}

.moon-image>img {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  /* Initial state */
  filter: grayscale(1) brightness(1) drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.2))
}



.moon-data {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  /* padding-inline: 0.5rem; */
}

.moon-data-item {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--divider-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
  flex: 1 1 0%;
}

.moon-data-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.moon-data-item>span.label {
  display: flex;
  color: var(--lunar-card-label-font-color);
  width: fit-content;
  text-wrap: nowrap;
  flex: 0;
}

.moon-data-item>.value {
  display: inline-flex;
  color: var(--lunar-card-label-font-color);
  font-weight: 600;
  width: auto;
  text-wrap: nowrap !important;
  align-items: center;
}

.value>span {
  font-weight: 400;
  font-size: smaller;
  padding-inline: 2px;
  text-wrap: nowrap;
}


lunar-base-data {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}



/* COMPACT VIEW */

.btn-action.compact {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.compact-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline: 8px;
  overflow: hidden;
}



.moon-fraction {
  font-weight: inherit;
  color: var(--lunar-card-label-font-color);
  letter-spacing: 1.5px;
  line-height: 24px;
}

.compact-view-items {
  margin-block: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  --mdc-icon-size: 17px;
}

.compact-item {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compact-item .icon-value {
  text-wrap: nowrap;
}

.compact-item .value {
  color: var(--lunar-card-label-font-color);
  opacity: 0.8;
}

@keyframes FadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}

.animate {
  animation: FadeInBottom 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease;
  position: relative;
}

@keyframes dialog-animation {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: dialog-animation 0.5s ease-in-out;
  animation-iteration-count: 1;
}

dialog#calendar-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: var(--mdc-dialog-scrim-color, rgba(0, 0, 0, .32)); */
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

dialog#calendar-dialog[grid] {
  position: fixed !important;
}


dialog#calendar-dialog .dialog-content {
  display: block;
  width: 100%;
  justify-content: center;
  /* aspect-ratio: 1; */
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  dialog#calendar-dialog {
    position: fixed;
  }
}

@media screen and (min-width: 600px) {
  dialog#calendar-dialog .dialog-content {
    min-width: 450px;
  }
}